<div class="container">
  <h2>Offer applied</h2>

  <div class="card-grid">
    <% @bookings.each do |booking| %>
      <%= link_to offer_path(booking.offer)  do %>
        <div class="card-booking">
          <div class="card-index-top">
            <%= cl_image_tag booking.offer.user.photo.key, crop: :fill, class: 'avatar-card'%>
            <h2> <%= booking.offer.user.first_name.capitalize %> </h2>
          </div>
          <div class="card-index-text">
            <h3><%= booking.offer.title %></h3>
            <p> <%= booking.offer.description %> </p>
          </div>
          <div class="card-index-bottom">
            <p><%= booking.begin_date %></p>
            <p><%= booking.end_date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h2>Offer Create</h2>

  <div class="card-grid">
    <% @my_offers_bookings.each do |booking| %>
      <%= link_to offer_path(booking.offer)  do %>
        <div class="card-booking">
          <div class="card-index-top">
            <%= cl_image_tag booking.offer.user.photo.key, crop: :fill, class: 'avatar-card'%>
            <h2><%= booking.user.first_name.capitalize %> </h2>
          </div>
          <div class="card-index-text">
            <h3><%= booking.offer.title %></h3>
            <p><%= booking.offer.description %></p>
          </div>
          <div class="card-index-bottom">
            <p>Full Time</p>
            <p>Update-time</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
