<div class="showContainer">
  <h2 class=""><%= @booking.offer.title %></h2>
  <div class="formContainer">
  <p><%= @booking.offer.description %></p>
    <div class="showDateform">
        <h3>Formulaire</h3>
        <%= simple_form_for [ @offer, @booking ] do |f|%>
        <%= f.input :begin_date %>
        <%= f.input :end_date %>
        <%= f.submit class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>