
<%= render "shared/banner" %>

  <div class="grid-homepage">

    <%= link_to offers_path do %>
    <div class="card-homepage" style=" background-color: #FF9D02">
    <p>ALL</p>
    </div>
    <%end%>

    <%= link_to offers_path(category: 'front-end') do %>
    <div class="card-homepage" style=" background-color: #F78238">
    <p>FRONT-END</p>
    </div>
    <%end%>

    <%= link_to offers_path(category: 'back-end') do %>
    <div class="card-homepage" style=" background-color: #F37448">
    <p>BACK-END</p>
    </div>
    <%end%>

    <%= link_to offers_path(category: 'ux-ui') do %>
    <div class="card-homepage" style=" background-color: #EE6556">
    <p>UI/UX</p>
    </div>
    <%end%>

  </div>
</div>

<script>
  document.getElementById("navbarHeight").classList.remove("container-navbar");
</script>