<div class="container">
  <%= simple_form_for(@offer) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price_per_day %>
  <%= link_to offer_path(@offer.id), class: "btn btn-primary mt-2" do %>
    <i class="fas fa-undo-alt"> Back to your offer</i>
  <% end %>
  <%= f.button :submit, "Update offer", class: "btn btn-success mt-2" %>
  <% end %>
</div>
