<div class="container mt-5 mb-5">
  <h1>OFFERS</h1>
  <div class="card-grid">
    <%= link_to new_offer_path, class: "btn btn-warning text-white create-card-btn" do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <div class="card-trip">
          <%= cl_image_tag offer.user.photo.key, crop: :fill, class: 'card-trip-img' %>
          <div>
            <div class="card-trip-infos">
              <h2><%= offer.user.last_name.capitalize + ' ' +  offer.user.first_name.capitalize %></h2>
              <h3>Dev <%= offer.category.capitalize %></h3>
              </div>
              <div class="infos-price">
                <h2 class="card-trip-pricing"><%= offer.price_per_day %>$/day</h2>
                <h2><i class="far fa-calendar-alt"></i> Full Time</h2>
                <h2><i class="fas fa-clock"></i>
                  <%=
                    secondsInDay = 24 * 60 * 60
                    comparatedDate = (Time.now - offer.created_at.localtime).to_i
                    days = comparatedDate / secondsInDay

                    if (comparatedDate < 86400)
                      "#{comparatedDate / ( 60 * 60 )} hours ago"
                    else
                      "#{days} days ago"
                    end
                  %>
                </h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
