<div class="container">
  <div class="card-grid">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <div class="card-index">
          <div class="card-index-top">
            <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="Avatar perso" class="avatar-card">
            <div class="card-index-top-text">
              <h3> <%= offer.user.last_name.capitalize + ' ' +  offer.user.first_name.capitalize %> </h3>
            </div>
          </div>
          <div class="card-index-text">
            <h3><%= offer.title %></h3>
            <p><%= offer.description %></p>
          </div>
          <div class="card-index-bottom">
            <p>Full Time</p>
            <p>Update-time</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_offer_path, class: "btn btn-primary" do %>
  <i class="fas fa-plus"> Create a new offer</i>
  <% end %>
</div>
